<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>TRACKING_ID</key>
	<string>UA-62466735-8</string>
	<key>CLIENT_ID</key>
	<string>1015367374593-59br4qo4hjmedidbtjj6962dlqo7fcqc.apps.googleusercontent.com</string>
	<key>GCM_SENDER_ID</key>
	<string>1015367374593</string>
</dict>
</plist>